body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 6rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 2rem;
}
a:hover{
  color: white;
}

hr {
  width: 4%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
}

.profile img {
  border-radius: 100%;
  width: 20%;
  margin-top: 70px;
  margin-bottom: 20px;
}
/****  TOP CONTAINER  *****/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 25px;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 60px;
  width: 150px;
}

.intro {
  width: 20%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 300px;
  width: 150px;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
}

.database-img {
  border-radius: 50%;
  background-color: grey;
  margin-right: 10%;
  width: 35%;
  float: left;
}

.computer-img {
  border-radius: 50%;
  margin-left: 10%;
  float: right;
  width: 35%;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.btn {
  background-color: green;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(to right, #66BFBF, #11cdd4, #11999E);
}

.btn:hover {
  background-image: linear-gradient(to left, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
font-size: 0.75rem;
padding: 20px 0;
}
